body {
    background-color: white;
    padding: 0;
    margin: 0;
    color: white;
    font-family: "Roboto Slab", serif;
    height: 1200px;
}

header {
    background: linear-gradient(90deg,#332941,#3B3486);
    padding: 20px;
}

header .headerContainer {
    display: flex;
    align-items: center;
}

header .headerContainer .img, header .headerContainer .profile {
    padding-right: 20px;
    flex-wrap: nowrap;
}

header .headerContainer .img {
    display: flex;
    align-items: center;
}

header .headerContainer .img img{
    width: 50px;
    border-radius: 25%;
}

.img img:hover {
    box-shadow: 0 0 10px white;
}

header .headerContainer .profile {
    display: block;
    width: max-content;
    margin: 0;
    padding: 0;
    overflow: hidden;
    flex: 90%;
}

.profile h1, .profile p {
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.profile h1 {
    margin: 0;
    font-size: 1.5rem;
}

.profile p {
    margin: 0;
}

.buttons {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.buttons input[type='button'] {
    margin-left: 5px;
    padding: 8px;
    background: linear-gradient(45deg, #CC860D 0%, #F8E559 80%);
    border: 0;
    border-radius: 10px;
    font-size: 0.8rem;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    transition: background 0.5s ease-in;
}

.buttons input[type='button']:hover {
    box-shadow: 0 0 5px #F8E559;
    outline: 1px solid #F8E559;
    outline-offset: 1px;
}

.buttons input[type='button']:active {
    background: rgba(0,0,0,0);
}

.buttons input[type='button']:focus {
    background: #CC860D;
    outline: 1px solid #F8E559;
    outline-offset: 1px;
}


@media (max-width:1000px) {
    .headerContainer {
        align-items: baseline;
    }

    .buttons {
        flex-direction: column;
        padding-left: 10px;
    }

    .buttons input[type='button']:first-child {
        margin-bottom:5px;
    }

    .buttons input[type='button'] {
        padding: 4px 10px;
    }
}